<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-list>
    <ion-list-header>
      Today
    </ion-list-header>
    <ion-item *ngFor="let contact of contacts">
      <ion-avatar slot="start">
        <img [src]="contact.picture">
      </ion-avatar>
      <ion-label>
        <h2>{{contact.name}}</h2>
        <p>{{contact.message}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<app-extended-fab [extended]="extended"></app-extended-fab>